<style type="text/css">
	.layui-form-mid {
	    float: left;
	    display: block;
	    padding: 0 !important;
	    line-height: 40px;
	    margin-right: 10px;
	    width: 200px;
	}
</style>
<form class="layui-form" action="">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">合同编号：</label>
			<div class="layui-form-mid">
				{$info.contract_no}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">商户手机：</label>
			<div class="layui-form-mid">
				{$info.mobile}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">开始时间：</label>
			<div class="layui-form-mid">
				{$info.format_begin_time}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">结束时间：</label>
			<div class="layui-form-mid">
				{$info.format_end_time}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">签订类型：</label>
			<div class="layui-form-mid">
				{$info.type_name}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">合同状态：</label>
			<div class="layui-form-mid">
				{$info.status_name}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">合同备注：</label>
		<div class="layui-input-block" style="display: block;padding: 5px auto;font-weight: 400;line-height: 40px;">
			{$info.note}
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">确认备注：</label>
		<div class="layui-input-block" style="display: block;padding: 5px auto;font-weight: 400;line-height: 40px;">
			{$info.remark}
		</div>
	</div>
</form>