<style type="text/css">
	.layui-form-mid {
	    float: left;
	    display: block;
	    padding: 0 !important;
	    line-height: 40px;
	    margin-right: 10px;
	    width: 250px;
	}
</style>
<form class="layui-form" action="" style="width:80%;">
	<div class="layui-form-item">
		<label class="layui-form-label">订单编号：</label>
		<div class="layui-form-mid">
			{$info.order_no}
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">申请用户：</label>
			<div class="layui-form-mid">
				{$info.mobile}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">申请时间：</label>
			<div class="layui-form-mid">
				{$info.format_add_time}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">发票类型：</label>
			<div class="layui-form-mid">
				{$info.invoice_type_name}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">收票人：</label>
			<div class="layui-form-mid">
				{$info.receiver_name}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">收票手机：</label>
			<div class="layui-form-mid">
				{$info.receiver_mobile}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">开票总额：</label>
			<div class="layui-form-mid">
				{$info.format_amount}【元】
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">运费(元)：</label>
			<div class="layui-form-mid">
				{$info.format_freight_amount}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">所属地区：</label>
			<div class="layui-form-mid">
				{$info.city_name}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">详细地址：</label>
			<div class="layui-form-mid">
				{$info.address}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">发票抬头：</label>
			<div class="layui-form-mid">
				{$info.invoice_head}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">纳税编码：</label>
			<div class="layui-form-mid">
				{$info.taxpayer_number}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">注册地址：</label>
			<div class="layui-form-mid">
				{$info.invoice_address}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">注册电话：</label>
			<div class="layui-form-mid">
				{$info.invoice_tel}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">开户银行：</label>
			<div class="layui-form-mid">
				{$info.invoice_bank}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">开户账号：</label>
			<div class="layui-form-mid">
				{$info.invoice_bank_account}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">发票内容：</label>
			<div class="layui-form-mid">
				{$info.invoice_content}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">订单来源：</label>
			<div class="layui-form-mid">
				{$info.source_name}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">订单状态：</label>
			<div class="layui-form-mid">
				{$info.status_name}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">支付时间：</label>
			<div class="layui-form-mid">
				{$info.format_pay_time}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">发货时间：</label>
			<div class="layui-form-mid">
				{$info.format_shipping_time}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">发货状态：</label>
			<div class="layui-form-mid">
				{$info.shipping_status_name}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">签收时间：</label>
			<div class="layui-form-mid">
				{$info.format_sign_time}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">订单备注：</label>
		<div class="layui-input-block" style="display: block;padding: 5px auto;font-weight: 400;line-height: 40px;">
			{$info.note}
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">用户留言：</label>
		<div class="layui-input-block" style="display: block;padding: 5px auto;font-weight: 400;line-height: 40px;">
			{$info.leave_message}
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">确认备注：</label>
		<div class="layui-input-block" style="display: block;padding: 5px auto;font-weight: 400;line-height: 40px;">
			{$info.remark}
		</div>
	</div>
</form>