	
	<!-- 操作功能区一 -->
	<blockquote class="layui-elem-quote">
		<button class="layui-btn" id="expand"><i class="larry-icon">&#xe8c0;</i> 全部展开</button>
    	<button class="layui-btn" id="collapse"><i class="larry-icon">&#xe8c1;</i> 全部收起</button>
		<form class="layui-form" style="float:right;">
			<div class="layui-form-item" style="margin:0;">
				<a href="javascript:" class="layui-btn layui-btn-small btnAdd" id="btnAdd">
					<i class="layui-icon">&#xe608;</i> 添加分类
				</a>
			</div>
		</form>
	</blockquote>
	
    <div id="treeList" lay-filter="treeList" ></div>
	
	<!-- 操作功能区二 -->
	<script type="text/html" id="toolBar">
		{:W('funcNode/btnEdit',array(编辑))}
		{:W('funcNode/btnDel',array(删除))}
		{:W('funcNode/btnAdd2',array(添加))}
	</script>
    
    <style type="text/css">
		.value_col{
			text-align:center !important;
		}
	</style>